$space-page-title: 30px;
$shadow:  0px 0px 3px 0px #000;
$h4-h5-color: tomato;
$h3-color: lightslategray;
$h3-error-color: crimson;
$error-message-color: firebrick;

.page-title{
    margin-top: $space-page-title;
    margin-bottom: $space-page-title;
    color: steelblue;
}
.error-modal{
    position: relative;
    top: 1px;
    width: 100% !important;
}
.message-box{
    margin-top: 40px;
}
.message-box h4{
    color: $h4-h5-color;
}
.message-box h3{
    color: $h3-color;
}
.message-box h5{
    color: $h4-h5-color;
}
.message-box b{
    color: steelblue;
    font-weight: normal;
}
.flag{
    border: 4px solid #f1f1f1;
    box-shadow: $shadow;
    border-radius: 3px;
    margin-top: 30px;
}
.error-modal h3{
    color: $h3-error-color;
}
.error-modal .error-message{
    color: $error-message-color;
}

